<ion-content>
  <swiper-container navigation="true" pagination="true" scrollbar="true">
    <swiper-slide>
      <h1 class="title">Bienvenido al Games Hub </h1>
      <img src="../../assets/images/videogame.jpg" alt="">
      
      <p>Aqui conoceras y aprenderas muchas cosas relacionada a videojuegos</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title">Interactua y aprende</h1>
      <ion-icon name="cart-outline"></ion-icon>
      <p>hola soy el slide 2</p>
    </swiper-slide>   
    <swiper-slide>
      <h1 class="title">Hola slide 3</h1>
      <ion-icon name="fish-outline"></ion-icon>
      <p>hola soy el slide 3</p>
    </swiper-slide>
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1 class="title">Hola slide 4</h1>
      <img src="../../assets/images/cocina.jpg" alt="">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>hola soy el slide 1</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
