<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a GameHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="game-content">
  <swiper-container navigation="true" pagination="true" scrollbar="true" class="swiper-container">
    <swiper-slide>
      <div class="slide-content">
        <ion-img src="assets/images/game1.png" alt="Game Image 1"></ion-img>
        <h2 class="slide-title">¡Explora Mundos Virtuales!</h2>
        <p>Sumérgete en aventuras épicas y descubre mundos inexplorados. ¿Estás listo para la aventura?</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <ion-img src="assets/images/image2.jpg" alt="Game Image 2"></ion-img>
        <h2 class="slide-title">¡Compite con tus Amigos!</h2>
        <p>Enfréntate a tus amigos en desafíos increíbles y demuestra que eres el mejor.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <ion-img src="assets/images/JUEGOS_XBOX.jpg" alt="Game Image 3"></ion-img>
        <h2 class="slide-title">¡Descubre Trucos y Consejos!</h2>
        <p>Aprende estrategias secretas y conviértete en un experto en tus juegos favoritos.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
        <ion-img src="assets/images/juegos3.jpg.webp" alt="Game Image 4"></ion-img>
        <h2 class="slide-title">¡Únete a la Comunidad de Jugadores!</h2>
        <p>Conéctate con otros jugadores, comparte tus experiencias y haz nuevos amigos.</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

