<ion-content>
  <swiper-container navigation="true" pagination="true" scrollbar="true">
    <swiper-slide>
      <h1 class="title">Hola slide 1</h1>
      <img src="../../assets/images/cocina.jpg" alt="">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>hola soy el slide 1</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola slide 2</h1>
      <ion-icon name="cart-outline"></ion-icon>
      <p>hola soy el slide 2</p>
    </swiper-slide>    <swiper-slide>
      <h1>Hola slide 3</h1>
      <ion-icon name="fish-outline"></ion-icon>
      <p>hola soy el slide 3</p>
    </swiper-slide>
  </swiper-container>
</ion-content>