swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.title{
  color: black;
}
.user-avatar{
  width: 30px;
  height: 30px;
}
ion-fab{
  ion-fab-button{
    --background: white ;
    --color: black;
  }
}
